body { padding-top: 5rem; }
.starter-template { padding: 3rem 1.5rem; }
#logout{ display:none; }
#passa{
    text-shadow: antiquewhite;
    font-size: 78px;
    position: sticky;
    width: 7px;
    height: 7px;
}

#massa{
    padding-left: 0ex;
    font-family: Arial, monospace, sans-serif;
    min-height: fit-content;
}
