body { padding-top: 5rem; }
.starter-template { padding: 3rem 1.5rem; }
#logout{ display:none; }

#drpdwn{
    text-transform:unset;
    height: 67px;
    color: azure;
}

#passa{
    text-shadow: antiquewhite;
    color: azure;
    font-display: inherit;
    text-rendering: initial;
    margin-top: 7px;
}
