body { padding-top: 5rem; }
.starter-template { padding: 3rem 1.5rem; }
#logout{ display:none; }
#upmouse{
    display: block;
    text-align: center;
    padding-inline-start: 0em;
    bottom: 90px;
    height: 56px;
    width: 56px;
    padding-bottom: 56px;
}

#drpdwn{
    text-shadow: antiquewhite;
    color: azure;
    text-decoration: dashed;
    font-style: relative;
    padding-inline-start: 0em;
}

#create{
    font-size: small;
    float: right;
    width: 100px;
    top: 500px;
    bottom: 200px;
    left: initial;
}

#corbs{
    padding-left: 0mm;
    padding-top: 0mm;
    padding-right: 0mm;
    padding-bottom: 0ch;
}

.p234{
    margin-left: 66px;
    margin-bottom: 50px;
    border: 0ch;
    font-size: 900;
    font-weight: bolder;
}
